@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.Card {
    width: 90%;
    max-width: 600px;
    min-height: 150px;
    background-color: #9B2335;
    margin-top: 100px;
    border-radius: 25px;
    font-family: 'Source Code Pro', monospace !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}