@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.Card {
    width: 90%;
    max-width: 600px;
    min-height: 150px;
    background-color: #34568B;
    margin-top: 100px;
    border-radius: 25px;
    font-family: 'Source Code Pro', monospace !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    box-shadow: 15px 22px 25px -24px rgba(66, 68, 90, 1);
}